*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container-a{
	background-color: #4ea0ff;
	background-image: url('../img/pattern.png');
	width: 100%;
	height: 100px;
	
}
.logo{
	background-image: url('../img/logo.svg');
	width: 250px;
	height: 130px;
	background-repeat: no-repeat;
	background-position: 100%;
	

}

.container-b{
	margin: 10px;
}
.coloretesto-azzurro{
	color: #49b9ea;
}
.coloretesto-grigio{
	color: #808080;
}
.datafont{
	font-size: 10px;
	color:#808080	
}
.txt-foto{
	font-size: 10px;
	margin: 5px;
}
.container-d{
	margin-top: 10px;
	margin-left: 4px;
}
.bcolor{
	background-color: yellow;
}
.list{
	margin: 20px;
}


.tabella{
	margin-top: 20px;
	text-align: left;
	
}
table{
	border-collapse: collapse;
}

.one{
	width: 50%;
}

thead{
	color: white;
	background-color: #20A9E5;
	text-align: left;
}
.two{
	background-color: #B1E5F2;
}	
.testo-basso{
	margin: 10px;
}
.titolo-pubblicita{
	color: lightgray;
	margin-top: 20px;
	margin-bottom: 20px;
}
